deps:
	go mod tidy
build: deps
	go build -o wuko-plugin-{{NS}} .
test: deps
	go test ./...
vet: deps
	go vet ./...
fmt:
	gofmt -w *.go tools/release/*.go
check: fmt vet test
release version: deps
	go run ./tools/release -version "{{version}}"
install: build
	mkdir -p "${HOME}/.wuko/plugins/{{NS}}"
	cp wuko-plugin-{{NS}} "${HOME}/.wuko/plugins/{{NS}}/"
